@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Chiron GoRound TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(248, 255, 143);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
button, select{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;

}
button:hover{
    background-color: #ffaeb2;
    transform: scale(1.05);
}
button:focus{
    outline:  2px solid #dbaeff;
    outline-offset:  2px;
}
.year {
    background-color: #ffaeb2;
}